@page
@model Portfolio.Pages.CMS.AboutMe.AboutMeListModel
@{
    ViewData["Title"] = "AboutMeList";
}

    <div class="container mt-3">
        <div class="title-container">
            <h1 class="text-center title pt-0">About Me Updates</h1>
        </div>
    </div>

    <table class="table">
        <tr class="bg-th">
            <th>Date Updated</th>
            <th>Live?</th>
        </tr>

        

        <tr>
            <td></td>
        </tr>
    </table>

