@page "{userId:int?}"
@model Portfolio.Pages.CMS.Settings.User.EditUserModel
@{
    ViewData["Title"] = "EditUser";
}

    <div class="container mt-3">
        <div class="title-container">
            <h1 class="text-center title pt-0">User</h1>
        </div>
        <form method="post">
            <input type="hidden" asp-for="Account.Id" />
            <input type="hidden" asp-for="Account.Password" />
            <div class="form-group">
                <label asp-for="Account.Name" ></label>
                <input asp-for="Account.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Account.Password"></label>
                <input asp-for="PassWord" class="form-control" />
            </div>
            <div class="d-flex justify-content-end">
            <button class="btn btn-submit" type="submit">Save</button>
            </div>

        </form>
    </div>