@page
@model Portfolio.Pages.CMS.Settings.User.UserListModel
@{
    ViewData["Title"] = "UserList";
}
    <div class="container">
        <div class="title-container mt-3">
            <h1 class="title text-center pt-0">Users</h1>
        </div>
        <div class="d-flex justify-content-end">
            <a class="icon-color mb-2" asp-page="./EditUser"><i class="far fa-plus-square fa-2x"></i></a>
        </div>

        <table class="table">
            <tr class="bg-th">
                <th>User Name</th>
                <th class="text-center">Edit</th> 
            </tr>
            @foreach(var user in Model.Users)
            {
                <tr>
                    <td class="w90">@user.Name</td>
                    <td class="w10 text-center"><a class="icon-color" asp-page="./EditUser" asp-route-userId="@user.Id"><i class="far fa-edit fa-sm"></i></a></td>
                </tr>
            }
        </table>

    </div>

