@page
@model Portfolio.Pages.CMS.Certificates.CertificateListModel
@{
    ViewData["Title"] = "CertificateList";
}

<h1>Certificate List</h1>

@foreach(var group in Model.Certificates.GroupBy(lang => lang.Skill.SkillName))
{
    <table class="table">
        @group.Key
        @foreach (var certificate in group)
        {
        <tr>
            <td class="d-table-cell">@certificate.CertificateName</td>
            <td><a asp-page="./EditCertificate" asp-route-certificateId="@certificate.Id"><i class="far fa-edit fa-sm"></i></a></td>
        </tr>
        }
        
    </table>
}

