@page
@model Portfolio.Pages.CMS.Certificates.CertificateListModel
@{
    ViewData["Title"] = "CMS - Certificate List";
}

    <div class="container">

        @if (Model.Message != null)
        {
            <div class="alert alert-success" id="alert">@Model.Message</div>
        }

        <div class="title-container mt-3">
            <h1 class="title text-center pt-0">Certificate List</h1>
        </div>
        <div class="d-flex justify-content-end">
            <a class="icon-color mb-2 mt-1" asp-page="./EditCertificate"><i class="far fa-plus-square fa-2x"></i></a>
        </div>
        @foreach (var group in Model.Certificates.GroupBy(lang => lang.Skill.SkillName))
        {
            <table class="table">

                    <tr class="bg-th">
                        <th class="subtitleh3 p-2 mb-0">@group.Key</th>
                        <th class="subtitleh3 text-center p-2 mb-0">Edit</th>
                    </tr>

                    

                @foreach (var certificate in group)
                {
                    <tr>
                        <td class="w80">@certificate.CertificateName</td>
                        <td class="w20 text-center"><a class="icon-color" asp-page="./EditCertificate" asp-route-certificateId="@certificate.Id"><i class="far fa-edit fa-sm"></i></a></td>
                    </tr>
                }

            </table>
        }
    </div>