@page "{courseId:int?}"
@model Portfolio.Pages.CMS.Certificates.EditToDoModel
@{
    ViewData["Title"] = "To Do Item";
}

    <div class="container">
        <div class="title-container mt-3">
            <h1 class="text-center title pt-0">@Model.Heading</h1>
        </div>
        <form method="post" id="courseForm">
            <input type="hidden" asp-for="Course.Id" />

            <div class="form-group">
                <label asp-for="Course.CourseName"></label>
                <input asp-for="Course.CourseName" class="form-control" id="courseName"/>
            </div>

            <div class="form-group">
                <label asp-for="Course.CourseCategories"></label>
                <select asp-for="Course.CourseCategories" asp-items="Model.Categories" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Course.Skill.SkillName">Language</label>
                <select class="form-control" asp-for="Course.SkillId"
                        asp-items="@Model.SkillsSelectList" id="courseSkillid">
                    <option value="">-- Select Language --</option>
                </select>
                <a class="icon-color" asp-page="/CMS/Skills/EditSkill"><i class="far fa-plus-square mr-3"></i>Add Skill</a>
            </div>

            <div class="form-group">
                <label class="form-check-label" for="done">Course Completed?</label>
                <input type="checkbox" asp-for="Course.Done" class="form-check-input ml-3" id="doneCheck"/>
            </div>
            <div class="form-group">
                <label asp-for="Course.DateCompleted"></label>
                <input class="form-control" id="dateCompleted" asp-for="Course.DateCompleted"/>
            </div>

            <div class="d-flex justify-content-end pt-3">
                <input type="submit" class="btn btn-submit w20" value="Save" id="saveToDo"/>
            </div>
        </form>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="toCert">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Make Certificate</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="certForm" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Certificate.Id" />
                        <div class="form-group">
                            <label asp-for="Certificate.CertificateName"></label>
                            <input type="text" asp-for="Certificate.CertificateName" class="form-control" id="certName" disabled="disabled" />
                            <a class="icon-color" id="editNameBtn"><i class="far fa-edit fa-sm"></i></a>
                        </div>
                        <div class="form-group">
                            <label asp-for="Certificate.CertificateDescription"></label>
                            <input type="text" asp-for="Certificate.CertificateDescription" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Certificate.Skill.SkillName">Language</label>
                            <select class="form-control" asp-for="Certificate.SkillId" id="certSkillId"
                                    asp-items="@Model.SkillsSelectList" disabled="disabled">
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="CertificatePdf"></label>
                            <div class="custom-file">
                                <input asp-for="CertificatePdf" class="custom-file-input form-control" type="file" name="CertificatePdf" />
                                <label class="custom-file-label">Click here to upload certificate</label>
                            </div>
                        </div>
                        <button type="submit" id="submitCert" class="btn btn-secondary" data-dismiss="modal">Save all</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

@section Scripts{ 
    <script>
        //Prevent modal closing direclty after submit has happened.
        //modal only shows when checkbox was ticked that course was completed because then I get a certificate
        //submit actions happen at the same time for courseform and certform.
        $(document).ready(function () {
        $('#saveToDo').on('click', function (e)
        {

            let c = $('#doneCheck');
            if (c.is(':checked')) {
                e.preventDefault();
                $('#toCert').modal({
                    show: true,
                    backdrop: 'static',
                    keyboard: true
                });
                $('#courseForm').submit();

                $(function () {
                    let $courseName = $('#courseName');
                    let $certName = $('#certName');
                    let $courseSkillId = $('#courseSkillid');
                    let $certSkillId = $('#certSkillId');

                    $certName.val($courseName.val());
                    $certSkillId.val($courseSkillId.val());

                });

                $('#submitCert').on('click', function () {
                    $('#certForm').submit();
                })
            } 
        });

        //Copy the values to the cert modal in case the course hasn't been saved yet

        $(function () {
            let $courseName = $('#courseName');
            let $certName = $('#certName');
            $courseName.on('input', function () {
                $certName.val($courseName.val());
            });
        });

        //enabled the fields that were read only in case of error in course name
        $(function () {
            $('#editNameBtn').click(function (e) {
                e.preventDefault();
                $('#certName').prop("disabled", false);
            });
        });

        $.datepicker.setDefaults(
            $.extend(
                { 'dateFormat': 'dd/mm/yy' }));
        $('#dateCompleted').datepicker();

        //$('#dateCompleted').change(function () {
        //    dComp = $('#dateCompleted').val();
        //    dComp = dComp.toString();
        //    var dd = dComp.substring(0, 2);
        //    var mm = dComp.substring(2, 4);
        //    var yyyy = dComp.substring(4, 8);
        //    //console.log(dd + "/" + mm + "/" + yyyy);
        //    let formatted = dd + "/" + mm + "/" + yyyy;
        //    console.log(formatted);
        //    dComp = $('#dateCompleted').val(formatted);
        //});

        });

    </script>
}