@page "{certificateId:int?}"
@model Portfolio.EditCertificateModel
@{
    ViewData["Title"] = "Certificate";
}

    <div class="container">
        <div class="title-container">
            <h1 class="text-center title pt-0">Edit Certificate</h1>
        </div>

        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Certificate.Id" />
            <input type="hidden" asp-for="Certificate.CertificateFileName" />

            <div class="form-group">
                <label asp-for="Certificate.CertificateName"></label>
                <input asp-for="Certificate.CertificateName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Certificate.CertificateDescription"></label>
                <input asp-for="Certificate.CertificateDescription" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Certificate.Skill.SkillName">Language</label>
                <select class="form-control" asp-for="Certificate.SkillId"
                        asp-items="@Model.SkillsSelectList">
                    <option value="">-- Select Language --</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="CertificatePdf"></label>
                <div class="custom-file">
                    <input asp-for="CertificatePdf" class="custom-file-input form-control" type="file" name="CertificatePdf" />
                    <label class="custom-file-label">Click here to upload certificate</label>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-submit">Save</button>
            </div>
        </form>
    </div>

@section Scripts {
    <script src="~/js/form.js"></script>
}
