@page "{certificateId:int?}"
@model Portfolio.EditCertificateModel
@{
    ViewData["Title"] = "EditCertificate";
}

<h1>Edit Certificate</h1>

<form  method="post">
    <input type="hidden" asp-for="Certificate.Id"/>

    <div class="form-group">
        <label asp-for="Certificate.CertificateName"></label>
        <input asp-for="Certificate.CertificateName" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="Certificate.CertificateDescription"></label>
        <input asp-for="Certificate.CertificateDescription" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="Certificate.Skill.SkillName">Language</label>
        <select class="form-control" asp-for="Certificate.SkillId"
                asp-items="@Model.SkillsSelectList">
            <option value="">-- Select Language --</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>

