@page
@model Portfolio.Pages.CMS.Settings.Email.EmailAccountsListModel
@{
    ViewData["Title"] = "EmailAccountsList";
}

    <div class="container">


<h1>EmailAccountsList</h1>

<table class="table">
    @foreach (var emailSettings in Model.EmailAccounts)
    {
        <tr>
            <td>@emailSettings.FromName</td>
            <td>@emailSettings.FromAddress</td>
            <td><a asp-page="./EmailSetup" asp-route-emailSettingsId="@emailSettings.Id"><i class="far fa-edit fa-sm"></i></a></td>
        </tr>
    }

</table>
<a class="btn btn-outline-success" asp-page="./EmailSetup">Add</a>

    </div>
    