@page
@model Portfolio.Pages.CMS.Settings.Email.EmailSetupModel
@{
    ViewData["Title"] = "EmailSetup";
}

    <div class="container">
        <div class="title-container mt-3">
            <h1 class="title text-center p-2">Setup Email</h1>
        </div>
        <form method="post">
            <div class="form-group">
                <label asp-for="EmailSetting.FromName" class="col-form-label"></label>
                <input asp-for="EmailSetting.FromName" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label asp-for="EmailSetting.FromAddress" class="col-form-label"></label>
                <input asp-for="EmailSetting.FromAddress" class="form-control" type="email" />
            </div>
            <div class="form-group">
                <label asp-for="EmailSetting.Password" class="col-form-label"></label>
                <input asp-for="EmailSetting.Password" class="form-control" type="password" />
            </div>
            <a ></a>
        </form>

    </div>