@page "{emailSettingsId:int?}"
@model Portfolio.Pages.CMS.Settings.Email.EmailSetupModel
@{
    ViewData["Title"] = "EmailSetup";
}

    <div class="container">
        <div class="title-container mt-3">
            <h1 class="title text-center p-2">Setup Email</h1>
        </div>
        <form method="post">
            <input type="hidden" asp-for="EmailSettings.Id" />
            <input type="hidden" asp-for="EmailSettings.Password" />
            <div class="form-group">
                <label asp-for="EmailSettings.FromName" class="col-form-label"></label>
                <input asp-for="EmailSettings.FromName" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label asp-for="EmailSettings.FromAddress" class="col-form-label"></label>
                <input asp-for="EmailSettings.FromAddress" class="form-control" type="email" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-form-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>

    </div>