@page
@model Portfolio.ProjectsMainModel
@{
    ViewData["Title"] = "ProjectsMain";
}

    <div class="container">
        <div class="title-container mt-3">
            <h1 class="title text-center p-2">Projects</h1>
        </div>
        <div>
            <h2 class="subtitleh2 pt-0">Personal Projects</h2>
            <div>
               
            </div>
        </div>
            <h2 class="subtitleh2 pt-0">FreeCodeCamp Projects</h2>
            <h3 class="subtitleh3">Responsive Web Design</h3>

        </div>
