@page
@model Portfolio.AboutMeModel
@{
    ViewData["Title"] = "About Me";
}

    <div class="container mt-3">
        <div class="title-container">
            <h1 class="text-center title pt-0">About Me</h1>
        </div>
        <div>
            <p class="pl-3">@Model.AboutMeInfo.PersonalInfo</p>
        </div>

        <h2 class="subtitleh2">About me as a developer</h2>
        <div>
            <p class="pl-3">@Model.AboutMeInfo.DevelopmentInfo</p>
        </div>
        <h2 class="subtitleh2">My career</h2>
        <div>
            <p></p>
        </div>
    </div>


