@page
@model Portfolio.AboutMeModel
@{
    ViewData["Title"] = "AboutMe";
}

    <div class="container mt-3">
        <div class="title-container">
            <h1 class="text-center title pt-0">About Me</h1>
        </div>
    </div>

