@page
@model Portfolio.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="container bg-white">
    <h1>Contact</h1>
    <div class="contact-info">
        <div>
            <h2>Contact Info</h2>
            <ul class="info">
                <li>
                    <span><i class="far fa-envelope fa-2x"></i></span>
                    <span>ketels.samuel@gmail.com</span>
                </li>
            </ul>
            <ul>
                <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
                <li><a href="#"><i class="fab fa-codepen fa-2x"></i></a></li>
                <li><a href="#"><i class="fab fa-stack-overflow fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="contact-form">
        <form method="post" id="formId">
            <input type="hidden" asp-for="TodaysDate" />
            <div class="input-field w-100">
                <input type="text" asp-for="Contact.ContactFirstName" required />
                <span>First Name</span>
            </div>
            <div class="input-field w-100">
                <input type="text" asp-for="Contact.ContactLastName" required />
                <span>Last Name</span>
            </div>
            <div class="input-field w-100">
                <input type="text" asp-for="Contact.ContactEmailAddress" required />
                <span>Email Address</span>
            </div>
            <div class="input-field w-100">
                <input type="text" asp-for="Contact.ContactPhoneNumber" required />
                <span>Phone Number</span>
            </div>
            <div class="input-field w-100">
                <textarea asp-for="Contact.Remarks"></textarea>
                <span>Please leave a comment...</span>
            </div>
            @*<div class="input-field w-100">
                <input type="text" asp-for="Contact." required />
                <span>Email Address</span>
            </div>*@
            <div class="input-field w-100">
                <label asp-for="Contact.ContactType"></label>
                <select asp-for="Contact.ContactType" asp-items="Model.ContactTypes"></select>
            </div>
            <div class="input-field w-100">
                <label asp-for="Contact.ContactOption"></label>
                <select asp-for="Contact.ContactOption" asp-items="Model.ContactOptions"></select>
            </div>
            <button type="submit" class="btn btn-success" id="saveButton" data-toggle="modal" data-target="#saveModal">Save</button>
        </form>
    </div>
    @*<form method="post" id="formId">
        <div class="form-group">
            <input type="hidden" asp-for="TodaysDate" />

            <label asp-for="Contact.ContactFirstName"></label>
            <input asp-for="Contact.ContactFirstName" class="input-field" />
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <label asp-for="Contact.ContactLastName"></label>
                </div>
                <div class="col-md-10 col-sm-12">
                    <input type="text"
                           asp-for="Contact.ContactLastName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Contact.ContactEmailAddress"></label>
            <input type="text" asp-for="Contact.ContactEmailAddress" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Contact.ContactType"></label>
            <select asp-for="Contact.ContactType" asp-items="Model.ContactTypes"></select>
        </div>
        <div class="form-group">
            <label asp-for="Contact.CompanyName"></label>
            <input type="text" asp-for="Contact.CompanyName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Contact.ContactOption"></label>
            <select asp-for="Contact.ContactOption" asp-items="Model.ContactOptions" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="Contact.Remarks"></label>
            <input type="text" asp-for="Contact.Remarks" class="form-control" />
        </div>

    </form>*@
</div>



<div class="modal" tabindex="-1" role="dialog" id="saveModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thanks for contacting me!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You will receive an e-mail with confirmation. I will get back to you as soon as possible. Talk to you soon!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script>
        window.onload = function () {
            this.document.getElementById("formId").onsubmit = function () {
                var form = this;
                setTimeout(function () {
                    form.submit();
                }, 4000);
                return false;
            };
        };
    </script>
}
