@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}



<div class="container-fluid d-block">


    <div class="hero-image">
        <div class="left-img">
            <img class="img-fluid" src="~/images/background.jpg" />
        </div>
        <div class="middle-img">
            <img class="img-fluid" src="~/images/background.png" alt="Picture of me in front of a giant buddha" />
            <h1 class="text-center text-uppercase m-4 title caption">Hi! I'm Samuel</h1>
        </div>
        <div class="right-img">
            <img class="img-fluid" src="~/images/background2.png" />
        </div>
    </div>
</div> @* Images OK *@

<div class="container">

    <div class="container d-block mt-3">
        <p class="pt-3 pl-3 pr-3">
            Welcome to my ASP.Net Core portfolio application. Take a tour to know all <a class="link" asp-page="/AboutMe">about me</a>, my current certified <a class="link" asp-page="/Skills/SkillsMain">skill set</a>
            and the <a class="link" asp-page="/Projects/ProjectsMain">projects</a> I have completed and uploaded on Github.
        </p>
        <p class="pl-3 pr-3">If you want to see all functionality in action, click the button below, fill out the form and I'll send you the demo credentials.</p>
        <div class="d-flex justify-content-sm-center justify-content-md-end">
            <a asp-page="/Contact" class="btn btn-style ml-3 p-1">contact me</a>
        </div>
    </div>@* Intro OK *@

    <div class="container">
        <hr />
    </div> @* HR OK *@


    <div class="container pt-3">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-md-3 d-flex justify-content-center flex-column">
                <div class="d-flex justify-content-center icon-height">
                    <a><i class="fas fa-layer-group fa-4x icon-color"></i></a> @*full-stack*@
                </div>
                <h4 class="text-center">Full stack</h4>
                <p class="text-center icon-textblock">Full stack kgjflmslg</p>
            </div>
            <div class="col-sm-12 col-md-3 d-flex justify-content-center flex-column">
                <div class="d-flex justify-content-center icon-height">
                    <a><i class="fas fa-seedling fa-4x icon-color"></i></a> @*dedicated to reaching goals, hard working*@
                </div>
                <h4 class="text-center">Always growing</h4>
                <p class="text-center icon-textblock">Always growing fgdsgfsgfsdgfd</p>
            </div>
            <div class="col-sm-12 col-md-3 d-flex justify-content-center flex-column">
                <div class="d-flex justify-content-center icon-height">
                    <a><i class="fas fa-business-time fa-4x icon-color"></i></a> @*fulltime employment, freelance projects, in office or remote*@
                </div>
                <h4 class="text-center">Agile</h4>
                <p class="text-center icon-textblock">Agile ieoznvifdvnfkjgns</p>
            </div>
        </div>
    </div>

    <div class="container">
        <hr />
    </div>


</div>