.cc-container {
    width: 15em;
    background: white;
    border: 1px solid $background-blue;
    border-radius: 5px;

    .cc-card {
        max-height: 10em;
        flex-direction: column;
        //margin-bottom: 1em;
        transition: 0.5s ease-in-out;

        .cc-content {
            position: relative;
            padding: 1em;
            text-align: center;
            color: #384955;
            visibility: hidden;
            opacity: 0;
            transition: 0.4s ease-out;

            .flex-column a {
                width: 10.5em;
                font-size: 0.9em;
            }
        }

        &:hover {
            max-height: 20em;

            .cc-content {
                transition: 0.7s ease-in;
                visibility: visible;
                opacity: 1;
            }
        }

        .cc-img {
            display: block;
            padding-left: 1em;

            & img {
                margin: 0 auto;
                width: 50%;
            }
        }
    }
}

.box {
    position: relative;
    width: 8.5em;
    height: 8.5em;
    margin: .5em;
    border-radius: 1.5em;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
                15px 15px 15px rgba(0,0,0,0.05);
}
