.hero-image {
    display: grid;
    grid-template-columns: 0.50fr 1fr 0.5fr;

    .middle-img img {
        min-height: 100%;
        object-fit: cover;
        display: block;
    }

    .left-img img,
    .right-img img {
        object-fit: cover;
        opacity: 0.5;
        display: block;
        min-height: 100%;
        min-width: 100%;
        filter: grayscale(55%);
        grid-column-start: 1;
        grid-column-end: 7;
    }
}

.left-img {
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows: 10% 20% 20% 20% 20% 10%;
}

.test {
    z-index: 1;
    filter: grayscale(0%);
    opacity: 1;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
}

.link {
    font-weight: 600;
    color: $main-orange;

    &:hover {
        color: $main-orange;
        font-size: 1.1em;
        text-decoration: none;
    }

    &:visited {
        color: $main-orange;
        text-decoration: none;
    }
}

.title {
    @include custom-font(4.5em);

}
