
.nav-logo {
    width: 135px;
    height: 50px;
}

.nav-link {

    &::after {
        content: '';
        display: block;
        height: 2px;
        background-color: $main-orange;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transform-origin: left;
        transition: transform ease-in-out 200ms;
    }

    &:hover::after {
        transform: scale(1,1);
    }
}

.navbar-brand-font {
    @include custom-font(1.75em);
}

.active {
    color: $main-orange !important;
}