.table-column-width-lg {
    width: 200px;
}

.table-column-width-md {
    width: 100px;
}

.table-column-width-sm {
    width: 20px;
}

.custom-table {
    font-size: 14px;
}

.bg-th {
    background: $icon-color;
    color: white;
    font-weight: 400;
}