@import '_utils';
@import '_tables';
@import '_forms';
/*@import '_customCards';*/
@import '_navbar';
@import '_home';
@import '_threedCards';
@import '_details';

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.footer {
    color: black;
}

.container, .container-fluid {
    padding-right: 0;
    padding-left: 0;
}


.icon-color {
        color: $icon-color;

        &:hover {
            color: $main-orange;
            text-decoration: none;            
        }
    }

.no-pointer{
    cursor: default;
}

.btn-style {
    @include custom-btn(9em, $main-orange, white, #BA6E00);
}

.btn-submit {
    @include custom-btn(9em, #00BC75, whitesmoke, #008544);
}

.subtitleh2 {
    @include custom-font(3em);
}

.subtitleh3 {
    @include custom-font(2.25em);
}

.w10{
    width: 10%;
}

.w20{
    width: 20%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90{
    width: 90%;
}
.projectthumb {
    width:192px;
    height: 108px;
}