@import '_utils';
@import '_tables';
@import '_forms';
@import '_customCards';

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.navbar {
    background: rgba(0,0,0, 0.95);
    font-family: 'Open Sans Condensed', sans-serif;
}

.footer {
    background: rgba(0,0,0, 0.95);

    color: white;
}

.test {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
}
