@page
@model Portfolio.SkillsMainModel
@{
    ViewData["Title"] = "Skills";
}

    <div class="container mt-3">
        <div class="title-container">
            <h1 class="text-center title pt-0">Certified Development Skills</h1>
        </div>
        <div class="row d-flex justify-content-center">

            @foreach (var skill in Model.Skills)
            {
                <div class="cc-container m-3 pt-3">
                    <div class="cc-card justify-content-center">
                        <div class="cc-img d-block">
                            <img class="img-fluid ml-5" src="~/images/@skill.LogoFilePath" />
                        </div>
                        <div class="cc-content">
                            <h2 class="text-center mb-2">@skill.SkillName</h2>
                            <div class="flex-column">
                                <a class="text-uppercase btn btn-dark mb-1" asp-page="./SkillDetail" asp-route-skillId="@skill.Id">Details</a>
                                @* TO DO: make modal with list of certificates per skill *@
                                <a class="text-uppercase btn btn-dark pb-2" asp-page="./SkillDetail" asp-route-skillId="@skill.Id">Certificates</a>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>

    </div>

    <div class="container">
        <hr />
    </div>

