@page
@model Portfolio.SkillsMainModel
@{
    ViewData["Title"] = "SkillsMain";
}

<h1>Development Skills</h1>

@foreach(var skill in Model.Skills)
{
    <div>
        <a><img src="~/images/@skill.LogoFilePath" /></a>
    </div>
}

