@page
@model Portfolio.SkillsMainModel
@{
    ViewData["Title"] = "Skills";
}

<div class="container mt-3">
    <div class="title-container">
        <h1 class="text-center title pt-0">Certified Development Skills</h1>
    </div>
        <div class="d-flex justify-content-center mt-3">
            @foreach (var skill in Model.Skills)
            {
                <div class="cc-container d-flex justify-content-center">
                    <div class="cc-card">
                        <div class="cc-face cc-face1">
                            <div class="cc-content">
                                <div class="cc-img">
                                    <img class="img-fluid ml-5 mb-3" src="~/images/@skill.LogoFilePath" />
                                </div>
                                <h2 class="text-center mb-2">@skill.SkillName</h2>
                            </div>
                        </div>
                        <div class="cc-face cc-face2">
                            <div class="cc-content d-flex flex-column">
                                <h2 class="text-center mb-2">@skill.SkillName</h2>
                                <a class="text-uppercase btn btn-style m-2" asp-page="./SkillDetail" asp-route-skillId="@skill.Id">Details</a>
                                @* TO DO: make modal with list of certificates per skill *@
                                <a class="text-uppercase btn btn-style m-2" asp-page="./SkillDetail" asp-route-skillId="@skill.Id">Certificates</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
</div>

