@page
@model Portfolio.SkillsMainModel
@{
    ViewData["Title"] = "Skills";
}

    <div class="container">
        <h1 class="text-center text-uppercase">Certified Development Skills</h1>
        <div class="row justify-content-center">

            @foreach (var skill in Model.Skills)
            {
                <div class="cc-container d-flex col-lg-3 col-md-6 col-sm-12 m-3 p-3">
                    <div class="cc-card justify-content-center align-content-center p-3">
                        <div class="cc-img justify-content-center align-content-center">
                                <img class="img-fluid" src="~/images/@skill.LogoFilePath" />
                        </div>
                        <div class="cc-content">     
                            <h2 class="text-center mb-2 mt-2">@skill.SkillName</h2>
                            <div class="flex-column">
                                <a class="text-uppercase btn btn-dark mb-1" asp-page="./SkillDetail" asp-route-skillId="@skill.Id">Details</a>
                                @* TO DO: make modal with list of certificates per skill *@
                                <a class="text-uppercase btn btn-dark pb-2" asp-page="./SkillDetail" asp-route-skillId="@skill.Id">Certificates</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

