@using Portfolio.Core
@model SkillPath

<div class="container">
    <h1>Partial Skill Path</h1>
    <form method="post">

        <h1>Test</h1>
        <input type="hidden" asp-for="@Model.Id"/>
        <input type="hidden" asp-for="@Model.SkillId"/>
        <div class="form-group">
            <label asp-for="@Model.SkillPathName"></label>
            <input asp-for="@Model.SkillPathName"/>
        </div>
        <button type="submit" asp-page-handler="SkillPath">Save</button>
    </form>
</div>


