@page
@model Portfolio.MainMenuModel
@{
    ViewData["Title"] = "MainMenu";
}

    <div class="container">
        <h1>Content Management System</h1>

        <a asp-page="./Skills/SkillList">View Skills</a>
        <a asp-page="./Certificates/CertificateList">View Certificates</a>
        <a asp-page="./Contacts/ContactList">Manage Contacts</a>
    </div>