@page
@model Portfolio.MainMenuModel
@{
    ViewData["Title"] = "MainMenu";
}

<h1>Content Management System</h1>

<a asp-page="./Skills/SkillList">View Skills</a>
<a asp-page="./Certificates/CertificateList">View Certificates</a>